<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IndividualProject.Properties.ProjectSettings.connectionString"
            connectionString="&quot;Server=localhost; Database = Project1_Individual; User Id = admin; Password = admin&quot;"
            providerName="" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>